# {{ ansible_managed }}

[Unit]
Description="{{ systemd_target['item'].description | default("Target for " + item) }}"
{% if systemd_target['item'].requires is defined %}
{% for req in systemd_target['item'].requires %}
Requires={{ req }}
{% endfor -%}
{% endif -%}
{% if systemd_target['item'].before is defined %}
Before={{ systemd_target['item'].before }}
{% endif -%}
{% if systemd_target['item'].after is defined %}
After={{ systemd_target['item'].after }}
{% endif %}
DefaultDependencies={{ systemd_target['item'].default_dependencies | default("true") }}
AllowIsolate={{ systemd_target['item'].allow_isolate | default("false") }}
